@page "/C2"

<a href="/">Component2</a>

<div class="def">
    @Property1
    <span class="def">
        @Property2
    </span>
    @ChildContent?.Invoke("abc")
</div>
@Property3
@Property4
