@page "/Sudoku"
@using Microsoft.AspNetCore.Components.Forms

<div class="ltroot flex">
    <EditForm Model="this" class="bg-card mg-a" OnSubmit="CreateBoard">
        @if (size == 0 || boards == null)
        {
            <h3>Enter board size</h3>
            <InputNumber TValue="int" @bind-Value="size"></InputNumber>
            <button type="submit" class="mgx bg-primary" @onclick="CreateBoard">Continue</button>
        }
        else
        {
            <table>
                @for (int _y = 0; _y < size; _y++)
                {
                    var y = _y;
                    <tr @key="y">
                        @for (int _x = 0; _x < size; _x++)
                        {
                            var x = _x;
                            var board = boards[y, x];
                            <td @key="x">
                                <InputNumber TValue="int?" @bind-Value="board.Entry"
                                             @bind-Value:after="() => Validate(x, y)"
                                             readonly="@(board.IsFixed)"
                                             class="@($"text-center bd-0 wx-04 hx-04 {(board.IsFixed ? " bg-dark-01" : board.HasError ? " bg-error-01" : board.Entry > 0 ? " bg-success-01": " bg-primary-01")}")"></InputNumber>
                            </td>
                        }
                    </tr>
                }
            </table>
        }
    </EditForm>
</div>