@using System.Collections.Generic

<form @key="_editContext.GetHashCode()"
      method="@(MappingContext != null?"post":null)"
      data-enhance="@(Enhance?"":null)"
      @attributes="@(this.As<IReadOnlyDictionary<string, object>>())"
      @onsubmit="_handleSubmitDelegate">
</form>

<CascadingValue TValue="EditContext" IsFixed="true" Value="_editContext">
    @ChildContent?.Invoke(_editContext)
</CascadingValue>