@namespace Microsoft.AspNetCore.Components.Forms
@using System.Linq
@using System.Collections.Generic

@{
    var validationMessages = Model is null ?
    CurrentEditContext.GetValidationMessages() :
    CurrentEditContext.GetValidationMessages(new FieldIdentifier(Model, string.Empty));
}

@if (validationMessages.Any())
{
    <ul class="validation-errors" @attributes="@(this.As<IReadOnlyDictionary<string, object>>())">
        @foreach (var error in validationMessages)
        {
            <li class="validation-message" @key="error">@error</li>
        }
    </ul>
}